/* body {
    font-family: 'Roboto', sans-serif;
} */
h1 {
    text-align: center;
    margin: 0 0 50px;
    color: rgb(19, 5, 61);
    font-style: bold;
}

h2 {
    color: rgb(24, 8, 70);
}

h3{
    color: rgb(24, 8, 70);
}

.citation {
    border-style: none none none solid;
    border-left-width: 5px;
    border-color: grey;
    padding: 10px 0 10px 20px ;
    font-style: oblique;
    margin: 30px 0 30px;
    /* background-color: #F0F0F0; */
}

body {
    margin: 50px 75px 50px 75px;
}

.codeblock {
    display: block;
    padding: 20px 50px 20px 50px;
    background-color: black;
    margin: 0px 20% 25px 50px;
    color: azure;
}

.codeblockheader {
    display: block;
    padding: 3px 10px 3px 10px;
    background-color:#E0E0E0;
    margin: 25px 20% 0px 50px;
    color: black;
    border-style: solid;
    border-color: darkgrey;
    border-bottom-style: none;
    border-right-style: none;
    font-family: monospace;
}

.codeblockheader .title {
    padding: 0px 25px 0px 0px;
    text-align: left;
}

.codeblockheader .lang {
    padding: 0px 25px 0px 0px;
    text-align: right;
    float: right
}

.inline-block {
    display: inline-block;
    margin: 3px 1px 3px 2%;
}
.headernavspan {
    display: inline-block;
    margin: 10px;
}

.header {
    float: right;
}
.liblock {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.liblock ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.liblock li  {
    margin-top: 3px;
    margin-bottom:3px;
}

.centerimage {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
}

.floatright {
    height: 350px;
    width: 600px;
    float: right;
    margin: 20px;
}

footer {
    margin-top: 100px;
}